---
import MainLayout from "../layouts/MainLayout.astro";
import {pageMetadata} from "../const/pageMetadata";
import {galleryData} from "../const/galleryData";
---

<MainLayout
  title={pageMetadata.galeria.title}
  description={pageMetadata.galeria.description}
>
  <!-- Gallery Modal -->
  <div id="galleryModal" class="fixed inset-0 bg-black bg-opacity-90 z-50 hidden flex items-center justify-center">
    <button class="absolute top-4 right-4 text-[var(--color-light)] text-2xl" onclick="closeGallery()">✕</button>
    <button class="absolute left-4 top-1/2 transform -translate-y-1/2 text-[var(--color-light)] text-2xl" onclick="prevImage()">
      &#10094;
    </button>
    <div>
      <img
        id="galleryImage"
        src=""
        alt=""
        class="max-w-4xl max-h-[90%] mx-auto rounded-md"
      />
      <p id="galleryCaption" class="text-center text-[var(--color-light)] mt-4"></p>
    </div>
    <button class="absolute right-4 top-1/2 transform -translate-y-1/2 text-[var(--color-light)] text-2xl" onclick="nextImage()">
      &#10095;
    </button>
  </div>

  <!-- Include the gallery JavaScript -->
  <script src="/gallery.js" type="module"></script>
</MainLayout>