<div id="sale-badge">
  <svg
    width="64"
    height="64"
    viewBox="0 0 79 81"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-label="Akcia! odznak"
    style="cursor:pointer;"
  >
    <defs>
      <filter id="shadow" x="-20%" y="-20%" width="140%" height="140%" color-interpolation-filters="sRGB">
        <feDropShadow dx="0" dy="0" stdDeviation="2" flood-color="var(--color-dark)" flood-opacity="0.25"/>
      </filter>
    </defs>
    <g filter="url(#shadow)" transform="translate(0,0)">
      <path
        d="M32.1918 3.06994C36.2666 -0.872005 42.7334 -0.872006 46.8082 3.06994V3.06994C49.1383 5.32412 52.3783 6.37685 55.5884 5.92281V5.92281C61.202 5.1288 66.4337 8.92989 67.4133 14.5141V14.5141C67.9734 17.7074 69.9759 20.4635 72.8398 21.983V21.983C77.8479 24.6402 79.8463 30.7905 77.3565 35.884V35.884C75.9327 38.7966 75.9327 42.2034 77.3565 45.116V45.116C79.8463 50.2095 77.8479 56.3598 72.8398 59.017V59.017C69.9759 60.5365 67.9734 63.2926 67.4133 66.4859V66.4859C66.4337 72.0701 61.202 75.8712 55.5884 75.0772V75.0772C52.3783 74.6231 49.1383 75.6759 46.8082 77.9301V77.9301C42.7334 81.872 36.2666 81.872 32.1918 77.9301V77.9301C29.8617 75.6759 26.6217 74.6231 23.4116 75.0772V75.0772C17.798 75.8712 12.5663 72.0701 11.5867 66.4859V66.4859C11.0266 63.2926 9.02415 60.5365 6.16025 59.017V59.017C1.15206 56.3598 -0.84629 50.2095 1.64355 45.116V45.116C3.06734 42.2034 3.06734 38.7966 1.64355 35.884V35.884C-0.84629 30.7905 1.15206 24.6402 6.16025 21.983V21.983C9.02415 20.4635 11.0266 17.7074 11.5867 14.5141V14.5141C12.5663 8.92989 17.798 5.1288 23.4116 5.92281V5.92281C26.6217 6.37685 29.8617 5.32412 32.1918 3.06994Z"
        fill="var(--sale-badge-bg, var(--color-dark))"
      />
      <text
        x="39.5"
        y="47"
        text-anchor="middle"
        font-family="var(--font-primary), Lexend, sans-serif"
        font-weight="700"
        font-size="18"
        fill="var(--sale-badge-text, var(--color-light))"
        pointer-events="none"
        user-select="none"
      >
        Akcia!
      </text>
    </g>
  </svg>
</div>
