---
import '../styles/global.css';
import LoadingScreen from "../components/common/LoadingScreen.astro";
import Footer from "../components/common/Footer.astro";
import ContactSection from "../components/common/ContactSection.astro";
import Navbar from "../components/common/Navbar.astro";
import Cookies from "../components/common/Cookies.astro";
const {
  title = 'Masáže Carbon - Profesionálne masážne služby v Topoľčanoch',
  description = "Profesionálne masážne služby pre vaše zdravie a relax v Masáže Carbon. Objavte kvalitnú starostlivosť a príjemné prostredie."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="sk">
<head>
<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSW7TMJ625"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CSW7TMJ625');
  </script>


  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content={description}/>
  <meta name="robots" content="index, follow"/>

  <meta property="og:title" content={title}/>
  <meta property="og:description" content={description}/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://masaze-carbon.sk"/>
  <meta property="og:image" content="https://masaze-carbon.sk/src/assets/homePage/masazny-priestor-titulka-2.jpeg"/>

  <link rel="sitemap" type="application/xml" href="/sitemap-index.xml">
  <link rel="icon" type="image/svg+xml" href="/masaze-carbon-favicon.png"/>
  <link rel="canonical" href="https://masaze-carbon.sk"/>

  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap">
</head>

<body class="flex flex-col min-h-screen font-primary text-base">
<LoadingScreen/>
<Navbar/>
<main class="flex-grow">
  <slot></slot>
</main>
<ContactSection/>
<Footer/>
<Cookies/>

<script is:inline>document.documentElement.classList.add('fonts-loaded');</script>
<script is:inline src="/cookie-consent-script.js"></script>

</body>
</html>
